#on early-init
    #exec -- /bin/rm -rf /dev/input
    # inputflinger require this dir
    #mkdir /dev/input
on post-fs-data
    trigger nonencrypted
    exec - system system -- /vendor/bin/ipconfigstore
    mkdir /tmp/.X11-unix 0777
    mount none /tmpx11 /tmp/.X11-unix bind