on early-init
    exec -- /bin/rm -rf /dev/input
    # inputflinger require this dir
    mkdir /dev/input
on post-fs-data
    trigger nonencrypted
    exec - system system -- /vendor/bin/ipconfigstore